{
    "presets": ["@babel/preset-env"],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-object-rest-spread",
        "transform-react-jsx",
        "@babel/plugin-proposal-class-properties"
    ]
}