@import "./default.scss";
@import "./media-queries.css";
@import "../node_modules/bootstrap/scss/bootstrap";

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */
/* vertically center banner section */
/* header social links */
/* scrolldown link */
/* primary navigation
--------------------------------------------------------------------- */
/* nav-wrap */
/* hide toggle button */
/* Links */
/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */
/*----------------------------------------------*/
/*	e. Skills
/*----------------------------------------------*/
/* Flex Slider
/* ------------------------------------------------------------------ */
/* Reset */
/* Necessary Styles */
/* Hide the slides before the JS is loaded. Avoids image jumping */
/* Suggested container for slide animation setups. Can replace this with your own */
/* Clearfix for .slides */
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* Slider Styles */
/* Control Nav */
/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */
/* copyright */
/* social links */
/* Go To Top Button */
/* ------------------------------------------------------------------ */
/* g. Footer
/* ------------------------------------------------------------------ */
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinRev {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
body {
    background: #0f0f0f;
}
.smoothscroll {
    cursor: pointer;
}
header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../images/main-background-blurred.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .banner {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        width: 85%;
        padding-bottom: 30px;
        text-align: center;
    }
    .banner-text {
        width: 100%;
        h1 {
            font: 90px/1.1em "opensans-bold", sans-serif;
            color: #fff;
            letter-spacing: -2px;
            margin: 0 auto 18px auto;
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
        }
        h3 {
            font: 18px/1.9em "librebaskerville-regular", serif;
            color: #fff;
            margin: 0 auto;
            width: 70%;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            span {
                color: #fff;
                font-weight: bolder;
            }
            a {
                color: #fff;
                font-weight: bolder;
                &:hover {
                    color: #11abb0;
                }
            }
        }
        hr {
            width: 60%;
            margin: 18px auto 24px auto;
            border-color: #2f2d2e;
            border-color: rgba(150, 150, 150, 0.1);
        }
    }
    .social {
        margin: 24px 0;
        padding: 0;
        font-size: 30px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
        li {
            display: inline-block;
            margin: 0 15px;
            padding: 0;
            a {
                color: #fff;
                &:hover {
                    color: #11abb0;
                }
            }
        }
    }
    .scrolldown {
        a {
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-left: -29px;
            color: #fff;
            display: block;
            height: 42px;
            width: 42px;
            font-size: 42px;
            line-height: 42px;
            color: #fff;
            border-radius: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: #11abb0;
            }
        }
    }
}
#nav-wrap {
    ul {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
    li {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
    a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
    font: 12px "opensans-bold", sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    .scrolled {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    > a.mobile-btn {
        display: none;
    }
}

.opaque {
    background-color: #333;
}

ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
    align-content: center;
    justify-content: center;

    li {
        position: relative;
        list-style: none;
        height: 48px;
        display: inline-block;
        a {
            display: inline-block;
            padding: 8px 13px;
            line-height: 32px;
            text-decoration: none;
            text-align: left;
            color: #fff;
            -webkit-transition: color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            &:hover {
                color: #11abb0;
            }
            &:active {
                background-color: transparent !important;
            }
        }
        a.current {
            color: #f06000;
        }
    }
}
.current {
    color: #f06000;
}
#about {
    background: #2b2b2b;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;

    a {
        color: #fff;
        &:visited {
            color: #fff;
        }
        &:hover {
            color: #11abb0;
        }
        &:focus {
            color: #11abb0;
        }
    }

    h2 {
        font: 22px/30px "opensans-bold", sans-serif;
        color: #fff;
        margin-bottom: 12px;
    }

    p {
        line-height: 25px;
        color: #ebebeb;
        margin-bottom: 5rem;
    }

    .about {
        margin: 0 auto 48px;
    }

    .profile-pic {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    .contact-details {
        width: 41.66667%;
    }
    .download {
        width: 58.33333%;
        padding-top: 6px;
        .button {
            margin-top: 6px;
            background: #444;
            &:hover {
                background: #fff;
                color: #2b2b2b;
            }
            i {
                margin-right: 15px;
                font-size: 20px;
            }
        }
    }
    .main-col {
        padding-right: 5%;
    }
}
#resume {
    background: #f0f0f0;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
    a {
        color: #11abb0;
        &:visited {
            color: #11abb0;
        }
        &:hover {
            color: #313131;
        }
        &:focus {
            color: #313131;
        }
    }
    h1 {
        font: 18px/24px "opensans-bold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        span {
            border-bottom: 3px solid #11abb0;
            padding-bottom: 6px;
        }
    }
    h3 {
        font: 25px/30px "opensans-bold", sans-serif;
    }
    .header-col {
        padding-top: 9px;
    }
    .main-col {
        padding-right: 10%;
    }
    .info {
        font: 16px/24px "librebaskerville-italic", serif;
        color: #6e7881;
        margin-bottom: 18px;
        margin-top: 9px;
        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }
    .date {
        font: 15px/24px "opensans-regular", sans-serif;
        margin-top: 6px;
    }
}
.education {
    margin: 0 auto 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;
}
.work {
    margin: 0 auto 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;

    .job {
        margin-bottom: 25px;
    }
}
.skill {
    margin: 0 auto 48px;

    .skill-tags {
        font-family: "opensans-bold", sans-serif !important;
        font-size: 1.4rem;
        line-height: 3rem;
        display: inline-block;
        margin: 0 0 1.5rem 15px;
        padding: 0.9rem 2rem;
        position: relative;
        text-transform: uppercase;
        border-radius: 3px;
        background: #d3d9d9;
        text-decoration: none;
        letter-spacing: 1px;
        color: #666;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        user-select: none;
        cursor: default;
        &:hover {
            background: #11abb0;
            color: white;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    }
}

.flexslider {
    a {
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
    .slides {
        zoom: 1;
        > li {
            position: relative;
            display: none;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}
.slides {
    margin: 0;
    padding: 0;
    list-style: none;
    zoom: 1;
    li {
        margin: 0;
        padding: 0;
    }
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    > li {
        overflow: hidden;
    }
}
.flex-control-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
    li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
}
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-container {
    zoom: 1;
    position: relative;
}
.no-js {
    .slides {
        > li {
            &:first-child {
                display: block;
            }
        }
    }
}
.flex-control-paging {
    li {
        a {
            width: 12px;
            height: 12px;
            display: block;
            background: #ddd;
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;
            text-indent: -9999px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
            &:hover {
                background: #ccc;
                background: rgba(255, 255, 255, 0.7);
            }
        }
        a.flex-active {
            background: #fff;
            background: rgba(255, 255, 255, 0.9);
            cursor: default;
        }
    }
}
#image-loader {
    display: none;
    position: relative;
    left: 18px;
    top: 17px;
}
footer {
    padding-top: 48px;
    margin-bottom: 48px;
    color: #303030;
    font-size: 14px;
    text-align: center;
    position: relative;
    a {
        color: #525252;
        &:visited {
            color: #525252;
        }
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #fff;
        }
    }

    .social {
        margin: 0 auto;
    }

    .copyright {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            line-height: 24px;
            &:before {
                content: "\2022";
                padding-left: 10px;
                padding-right: 10px;
                color: #095153;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
    }
    .social-links {
        margin: 18px 0 30px 0;
        padding: 0;
        font-size: 30px;
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            margin-left: 42px;
            color: #f06000;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.ie {
    footer {
        .copyright {
            li {
                display: inline;
            }
        }
    }
}
#go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;
    a {
        text-decoration: none;
        border: 0 none;
        display: block;
        width: 60px;
        height: 60px;
        background-color: #525252;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        color: #fff;
        font-size: 21px;
        line-height: 60px;
        border-radius: 100%;
        &:hover {
            background-color: #0f9095;
        }
    }
}
#spinContain {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background-color: none;
    border-radius: 50%;
    box-shadow: 1px 2px #11abb0;
    z-index: 1;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#spinContainT {
    width: 200px;
    height: 200px;
    margin: -305px auto;
    background-color: none;
    border-radius: 50%;
    box-shadow: 1px 2px #ffffff;
    z-index: 1;
    -webkit-animation: spinRev 3s linear infinite;
    animation: spinRev 3s linear infinite;
}
